﻿.docs {
  margin: 10px;
  padding: 5px;
  float: left;
  background-color: white;
  border: 1px solid #aaa; }
  .docs img {
    width: 300px; }
  .docs:hover {
    border: 1px solid black;
    background-color: #eee;
    cursor: pointer; }

