﻿.docs {
    margin:10px;
    padding:5px;
    float:left;
    background-color:white;

    img {
        width:300px;
    }
    border:1px solid #aaa;
    &:hover {
        border:1px solid black;
        background-color:#eee;
        cursor:pointer;
    }
}