﻿<!DOCTYPE html>
<html ng-app="mainapp" ng-cloak lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Vogsphere</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/app/styles/main.min.css" rel="stylesheet" />
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="" ng-href="#/start">Project Vogsphere</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="" ng-href="#/newdocs">Neue Dokumente</a></li>
                    <li><a href="" ng-href="#/scan">Scannen</a></li>
                    <li><a href="" ng-href="#/search">Dokumente auflisten</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="quickSearchTerm" placeholder="Schnellsuche">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="doQuickSearch">Suchen</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 50px;">
        <ng-view></ng-view>
        <hr />
        <footer>
            <p>&copy; 2016 - Project Vogsphere</p>
        </footer>
    </div>

    <script type="text/javascript" src="/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>



    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular-route.min.js"></script>
    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <script type="text/javascript" src="/app/js/mainapp.js"></script>
    <script src="/signalr/hubs"></script>

</body>
</html>
