﻿<h2>Bearbeiten</h2>
<div>
    <div style="float: left;">
        <a ng-href="/api/doc/{{document.DocumentId}}/pdf" target="_blank">
            <img style="width: 650px;" ng-src="/api/doc/{{document.DocumentId}}/thumb" />
        </a>
    </div>
    <div layout="column" class="md-inline-form">
        <h3 class="md-title">Basics</h3>

        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
            <div layout-gt-xs="row">
                <md-input-container>
                    <label>Betreff</label>
                    <input ng-model="document.Subject">
                </md-input-container>
                <md-datepicker ng-model="document.DocumentDate" md-placeholder="Datum">
                </md-datepicker>

            </div>
        </md-content>

        <h3 class="md-title">Absender</h3>
        <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding="">
            <div>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="document.Sender.Name">
                </md-input-container>
                <md-input-container>
                    <label>Stadt</label>
                    <input ng-model="document.Sender.City">
                </md-input-container>
                <md-input-container>
                    <label>Kundennummer</label>
                    <input ng-model="document.Sender.CustomerNumber">
                </md-input-container>
            </div>
        </md-content>

        <h3 class="md-title">Schlagwörter</h3>
        <md-content>

            <md-chips ng-model="document.Keywords" md-autocomplete-snap="" md-transform-chip="transformChip($chip)">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.text" placeholder="Stichwörter durchsuchen">
                    <span md-highlight-text="searchText">{{item.text}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>{{$chip.text}}</span>
                </md-chip-template>
            </md-chips>
        </md-content>



        <md-button class="md-raised md-primary" ng-click="submitEdit()">Speichern und weiter</md-button>
        <md-button class="md-raised md-warn" ng-click="submitDelete()">Löschen und weiter</md-button>
    </div>
</div>