﻿<h2>Neue Dokumente</h2>
<div layout="row" layout-padding="" layout-wrap="" layout-fill="">
    <md-whiteframe ng-repeat="d in newDocs" ng-click="edit(d)" class="md-whiteframe-16dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="" layout-align="center center">
        <img style="width: 300px; padding: 10px;" ng-src="/api/doc/{{d.DocumentId}}/smallthumb" /><br />
    </md-whiteframe>
</div>