﻿<h2>Nach neuen Dokumenten scannen</h2>
<div>

    <button class="btn btn-primary" ng-click="startScan()" ng-show="!scanning">Scan starten</button>

    <div class="panel panel-primary" ng-show="scanning">
        <div class="panel-heading">Scanning...</div>
        <div class="panel-body">
            <blockquote>
                <p>{{ curFile }}</p>
            </blockquote>
            <div class="progress">
                <div class="progress-bar progress-bar-striped active"
                     role="progressbar" aria-valuenow="{{getPercentage()}}" aria-valuemin="0"
                     aria-valuemax="100" ng-style="{width : ( getPercentage() + '%' ) }">
                    <span class="sr-only">{{getPercentage()}}% Complete (warning)</span>
                </div>
            </div>
        </div>
    </div>
</div>