﻿<h2>Dokumente</h2>

<md-content>
    <md-list>
        <md-subheader class="md-no-sticky">{{ docs.length }} Dokumente </md-subheader>
        <md-list-item class="md-3-line" ng-repeat="d in docs" ng-click="view(d)">
            <img ng-src="/api/doc/{{d.DocumentId}}/smallthumb" style="width: 75px; margin-right: 15px;" alt="{{d.Subject}}">
            <div class="md-list-item-text" layout="column">
                <h2>{{ d.Subject }}</h2>
                <h4><b>{{ d.Sender.Name }}</b> vom {{ getDisplayDate(d) }}</h4>
                <p><md-chips ng-model="d.Keywords" readonly="true"></md-chips>
                </p>
                <md-button class="md-secondary" ng-click="edit(d)">Bearbeiten</md-button>
            </div>
        </md-list-item>
    </md-list>
</md-content>

